
.theme-toggle-container button {
    z-index: 105;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-weight: bold;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--clr-neutral-950);

    border: .12rem solid var(--clr-neutral-500);
    padding: 0.2rem;
    border-radius: 100%;
    overflow: hidden;
}
@media (max-width:576px) {
    .theme-toggle-container button {
        bottom: 5rem;
    }
}
