/* top-navbar */
.top-navbar-outer {
    box-shadow: 0 0 2px 0 var(--bg_clr5);
}
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding: 0.8rem 1rem;
}


/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    gap: .25rem;
    transition: text-shadow 0.3s;
    font-weight: 500;
    color: var(--primary_color);
}


/* search container */
form.search-container {
    flex: 1;
    display: flex;
    justify-content: right;
}
.search-container input {
    all: unset;
    border: 2px solid var(--bg_clr5);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;

    width: 15%;
    padding-right: 2rem;
    transition: width 0.3s;
}
.search-container input:focus {
    width: 50%;
}
.search-container button {
    border: unset;
    cursor: pointer;
    background-color: transparent;
    color: var(--txt_clr2);
    position: relative;
    left: -2rem;
    
}
.search-container button i {
    border-left: 2px solid var(--bg_clr5);
    padding: 0.2rem 0.5rem;

}