:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


.header {
    background-color: var(--primary_color);
}

.button {
    background-color: var(--secondary_color);
    color: var(--background_color);
}

a {
    display: inline-block;
    color: var(--accent_color);
}

a,ul {
    text-decoration: none;
    list-style-type: none;
}