* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    /* initial colors */
    --primaryColor: hsl(360, 100%, 63%);

    --secondaryColor: #303F9F;
    --accentColor: #FF8066;

    --backgroundColor: #FCF8FF;
    --textColor: #4B4453;
    /* <> */



    color-scheme: light;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}
.header {
    background-color: var(--primaryColor);
}

.button {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
}

a {
    display: inline-block;
    color: var(--accentColor);
}

a,ul {
    text-decoration: none;
    list-style-type: none;
}



/*  */
/* CSS Snippet */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* container */
.maxContainer {
    margin: auto;
    max-width: 1400px;
    transition: max-width 0.1s;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.3rem;
}
h4 {
    font-size: 2.1rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.9rem;
}

@media (max-width: 1400px) {
    .maxContainer {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .maxContainer {
        max-width: 992px;
    }
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.25rem;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.75rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .maxContainer {
        max-width: 768px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .maxContainer {
        max-width: 576px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .maxContainer {
        max-width: unset;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.9rem;
    }
    h6 {
        font-size: 0.8rem;
    }
}