* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    /* initial colors */
    --primary-color: hsl(360, 100%, 63%);

    --secondary-color: #303F9F;
    --accent-color: #FF8066;

    --background-color: #FCF8FF;
    --text-color: #4B4453;
    /* <> */



    color-scheme: light;
    background-color: var(--background-color);
    color: var(--text-color);
}
.header {
    background-color: var(--primary-color);
}

.button {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

a {
    display: inline-block;
    color: var(--accent-color);
}

a,ul {
    text-decoration: none;
    list-style-type: none;
}