@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --clr-primary-50: #fff7ed;
    --clr-primary-100: #ffedd5;
    --clr-primary-200: #fed7aa;
    --clr-primary-300: #fdba74;
    --clr-primary-400: #fb923c;
    --clr-primary-500: #f97316;
    --clr-primary-600: #ea580c;
    --clr-primary-700: #c2410c;
    --clr-primary-800: #9a3412;
    --clr-primary-900: #7c2d12;
    --clr-primary-950: #431407;

    --clr-secondary-50: #f5f3ff;
    --clr-secondary-100: #ede9fe;
    --clr-secondary-200: #ddd6fe;
    --clr-secondary-300: #c4b5fd;
    --clr-secondary-400: #a78bfa;
    --clr-secondary-500: #8b5cf6;
    --clr-secondary-600: #7c3aed;
    --clr-secondary-700: #6d28d9;
    --clr-secondary-800: #5b21b6;
    --clr-secondary-900: #4c1d95;
    --clr-secondary-950: #2e1065;

    --global_font: 'Roboto', sans-serif;
    --page_content_font: 'Lato', sans-serif;
    --emphasis_font: 'Exo 2', sans-serif;

    --xxl: 1400px;
    --xl: 1200px;
    --lg: 992px;
    --md: 768px;
    --sm: 576px;

    font-family: var(--global_font);

    
    --text-xs: 0.75rem; /* 12px */
    --line-height-xs: 1rem; /* 16px */
  
    --text-sm: 0.875rem; /* 14px */
    --line-height-sm: 1.25rem; /* 20px */
  
    --text-base: 1rem; /* 16px */
    --line-height-base: 1.5rem; /* 24px */
  
    --text-lg: 1.125rem; /* 18px */
    --line-height-lg: 1.75rem; /* 28px */
  
    --text-xl: 1.25rem; /* 20px */
    --line-height-xl: 1.75rem; /* 28px */
  
    --text-2xl: 1.5rem; /* 24px */
    --line-height-2xl: 2rem; /* 32px */
  
    --text-3xl: 1.875rem; /* 30px */
    --line-height-3xl: 2.25rem; /* 36px */
  
    --text-4xl: 2.25rem; /* 36px */
    --line-height-4xl: 2.5rem; /* 40px */
  
    --text-5xl: 3rem; /* 48px */
    --line-height-5xl: 1;
  
    --text-6xl: 3.75rem; /* 60px */
    --line-height-6xl: 1;
  
    --text-7xl: 4.5rem; /* 72px */
    --line-height-7xl: 1;
  
    --text-8xl: 6rem; /* 96px */
    --line-height-8xl: 1;
  
    --text-9xl: 8rem; /* 128px */
    --line-height-9xl: 1;
}
  
.light-mode {
    /* light-mode */
    --clr-neutral-50: #fafafa;
    --clr-neutral-100: #f5f5f5;
    --clr-neutral-200: #e5e5e5;
    --clr-neutral-300: #d4d4d4;
    --clr-neutral-400: #a3a3a3;
    --clr-neutral-500: #737373;
    --clr-neutral-600: #525252;
    --clr-neutral-700: #404040;
    --clr-neutral-800: #262626;
    --clr-neutral-900: #171717;
    --clr-neutral-950: #0a0a0a;

    /* transparent */
    --clr-clear-50: rgba(250, 250, 250, 1);
    --clr-clear-100: rgba(250, 250, 250, 0.9);
    --clr-clear-200: rgba(250, 250, 250, 0.8);
    --clr-clear-300: rgba(250, 250, 250, 0.7);
    --clr-clear-400: rgba(250, 250, 250, 0.6);
    --clr-clear-500: rgba(250, 250, 250, 0.5);
    --clr-clear-600: rgba(250, 250, 250, 0.4);
    --clr-clear-700: rgba(250, 250, 250, 0.3);
    --clr-clear-800: rgba(250, 250, 250, 0.2);
    --clr-clear-900: rgba(250, 250, 250, 0.1);
    --clr-clear-950: rgba(250, 250, 250, 0);

    color-scheme: light;
}
.dark-mode {
    /* dark-mode */
    --clr-neutral-50: #0a0a0a;
    --clr-neutral-100: #171717;
    --clr-neutral-200: #262626;
    --clr-neutral-300: #404040;
    --clr-neutral-400: #525252;
    --clr-neutral-500: #737373;
    --clr-neutral-600: #a3a3a3;
    --clr-neutral-700: #d4d4d4;
    --clr-neutral-800: #e5e5e5;
    --clr-neutral-900: #f5f5f5;
    --clr-neutral-950: #fafafa;

    /* transparent */
    --clr-clear-50: rgba(10, 10, 10, 1);
    --clr-clear-100: rgba(10, 10, 10, 0.9);
    --clr-clear-200: rgba(10, 10, 10, 0.8);
    --clr-clear-300: rgba(10, 10, 10, 0.7);
    --clr-clear-400: rgba(10, 10, 10, 0.6);
    --clr-clear-500: rgba(10, 10, 10, 0.5);
    --clr-clear-600: rgba(10, 10, 10, 0.4);
    --clr-clear-700: rgba(10, 10, 10, 0.3);
    --clr-clear-800: rgba(10, 10, 10, 0.2);
    --clr-clear-900: rgba(10, 10, 10, 0.1);
    --clr-clear-950: rgba(10, 10, 10, 0);

    color-scheme: dark;
}



/* RESET properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    all: unset;
    cursor: pointer;
}
/* input {
    all: unset;
} */


/*  */

.maxContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--xxl);
    transition: max-width 0.1s;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 44px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 36px;
}
h6 {
    font-size: 32px;
}

@media (max-width: 1400px) {
    .maxContainer {
        max-width: var(--xl);
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 36px;
    }
    h5 {
        font-size: 32px;
    }
    h6 {
        font-size: 28px;
    }
}
@media (max-width: 1200px) {
    .maxContainer {
        max-width: var(--lg);
    }
}
@media (max-width: 992px) {
    .maxContainer {
        max-width: var(--md);
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .maxContainer {
        max-width: var(--sm);
    }
}
@media (max-width: 576px) {
    .maxContainer {
        max-width: unset;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
}





