#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-body {
    background-color: var(--background_color_lighter);
    flex: 1;
    overflow-y: scroll;
}
@media  (min-width: 577px){
    #main-body {
        padding-left: 4rem;
    }
}

#bottom-gap {
    height: 0px;
}

@media  (max-width: 576px) {
    #bottom-gap {
        height: 3rem;
    }
}

/* scroll bar */
#main-body {
    scrollbar-color: var(--accent_color) transparent;
    scrollbar-width: thin;
}

#main-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent_color);
}

#main-body::-webkit-scrollbar {
    width: 5px;
}

#main-body::-webkit-scrollbar-thumb {
    background-color: var(--accent_color);
    /* outline: 1px solid var(); */
}
