.body {
    min-height: 100vh;
    padding: 0rem 0rem 0rem 4.5rem;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#top-gap {
    height: 3.625rem;
}

#main-body {
    flex: 1;
    overflow-y: scroll;
}

#bottom-gap {
    height: 0px;
}

@media (max-width: 768px) {
    #bottom-gap {
        height: 3.625rem;
    }
}

/* scroll bar */
#main-body {
    scrollbar-color: var(--accent_color) transparent;
    scrollbar-width: thin;
}

#main-body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--accent_color);
}

#main-body::-webkit-scrollbar {
    width: 10px;
}

#main-body::-webkit-scrollbar-thumb {
    background-color: var(--accent_color);
    /* outline: 1px solid var(); */
}
