#home-carousel .swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}

#home-carousel .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-carousel .swiper-pagination {
  padding-bottom: 1rem;
  left: 25% !important;
}
#home-carousel .swiper-pagination-bullet  {
  padding: 0.3rem;
  background-color: var(--background_color);
  outline: 1px solid var(--accent_color);
  opacity: 1 !important;
}
#home-carousel .swiper-pagination-bullet-active {
  background-color: var(--accent_color);
}