:root {
    --primary_color: #FF5733;           /* Fire Red */
    --background_color: #141519;        /* Dark Gray Background */
    --background_color_lighter: #202128;
    --text_color: #CCCCCC;              /* Light Gray Text */
    --accent_color: #FF8C66;            /* Subtle Gradient Accent */
    --complementary_color: #4CAF50;     /* Complementary Green */
    --neon_color: #00BFFF;              /* Neon Blue */
    --secondary_color: #303F9F;         /* Secondary Blue */

    --initial_font: 'Roboto', sans-serif;
    --global_font: 'Roboto', sans-serif;
    --header_font: 'Montserrat', sans-serif;
    --main_content_font: 'Lato', sans-serif;
    --accent_font: 'Poppins', sans-serif;
    --emphasis_font: 'Exo', sans-serif;

    color-scheme: dark;
    background-color: var(--background_color);
    color: var(--text_color);
    
}

#home-carousel {
    width: 100%;
    height: 30rem;
    background-image: url("carousel-mini.svg");
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    border-radius: 0.5rem;
}
#home-carousel .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--background_color);

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* info */
#home-carousel .info {
    flex: 1;
    padding: 3rem;
}
.metadata {
    padding: 16px;
}
#home-carousel .popup {
    width: 100%;
    transform: scale(1);
    margin: 1rem;

}
/* .poster { */
#home-carousel .poster {
    height: 100%;
    width: 100%;
    padding: 2rem;
}
#home-carousel .poster .img{
    flex: 2;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
}


@media (max-width: 1200px) {
    #home-carousel .info {
        position: absolute;
        inset: 0;
        right: auto;
        background: linear-gradient(to right,var(--background_color),#eeeeee00);    
        padding: unset;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    
    #home-carousel .poster {
        padding: unset;
    }
    #home-carousel .poster .img{
        border-radius: unset;
    }
}