
#home-carousel .main-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


#home-carousel .info {
    flex: 2;
    text-align: left;
}
#home-carousel .info .title {
    font-size: clamp(1rem,10w,2rem);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#home-carousel .info .synopsis {
    font-size: clamp(.8rem,10w,1rem);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



#home-carousel .image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    height: 40vh;

}
#home-carousel .image div {
    width: 100%;
    height: 100%; 

    border-radius: 1rem;
    overflow: hidden;
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {
    #home-carousel .main-item { 
        align-items: flex-start;
    }
    #home-carousel .info {
        max-width: 60%;
        background: linear-gradient(to right, var(--background_color),transparent);
        position: absolute;
        left: 0;
        padding: 2rem;
        height: 100%;
    }
    #home-carousel .info .icons {
        display: none;
    }
}
@media (max-width: 768px) {
    #home-carousel .info .synopsis {
        display: none;
    }

}