.top-navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-800);
}
.top-navbar li:nth-child(2) {
    margin-left: auto;
}
.top-navbar li:nth-child(3) svg {
    font-size: 1.8rem;
    display: flex;
    cursor: pointer;
    color: var(--clr-neutral-600);
    border: 2px solid currentColor;
    border-radius: 1rem;
    transition: color 0.2s;
}
.top-navbar li:nth-child(3) svg:hover {
    color: var(--clr-primary-400);

}