.top-navbar {
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-800);
    /* box-shadow: 1px 3px 5px var(--clr-neutral-200); */
    position: sticky;
    top: 0;
    z-index: 100;
    height: 3.5rem;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .top-navbar {
        background-color: var(--clr-clear-200);
        -webkit-backdrop-filter: blur(0.2rem);
        backdrop-filter: blur(0.2rem);
    }
}



.top-navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.5rem;

    max-width: var(--xxl);
    margin: auto;
}
.top-navbar ul li:nth-child(2) {
    margin-left: auto;
}
.top-navbar ul li:nth-child(3) svg {
    font-size: 1.8rem;
    display: flex;
    cursor: pointer;
    color: var(--clr-neutral-800);
    border: 2px solid currentColor;
    border-radius: 1rem;
    transition: color 0.2s;
}
.top-navbar ul li:nth-child(3) svg:hover {
    color: var(--clr-primary-700);

}

