.side-navbar {
    z-index: 100;
    position: fixed;
    inset: 3.5rem auto 0 0;

    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    padding: 0.5rem 0.3rem 1rem;


    border-radius: 0 0.8rem 0.8rem 0 ;
    box-shadow: 1px 0px 0px var(--clr-neutral-400);

    display: flex;
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    pointer-events: all;
    overflow-x: hidden;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .side-navbar {
        background-color: var(--clr-clear-500);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }
}
.side-navbar a {
    overflow-x: hidden;
    min-height: 3rem;
    padding: 0.5rem;

    border-radius: 0.5rem;

    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-900);
    transition: background-color 0.2s;
}
.side-navbar a:hover {
    background-color: var( --clr-primary-700);
    color: var(--clr-primary-50);
}
.side-navbar #active {
    background-color: var( --clr-primary-700);
    color: var(--clr-primary-50);
}

.side-navbar a span {
    display: flex;
    align-items: center;
}
.side-navbar a span svg {
    display: inline-block;
    margin-right: 1rem;
}
/* min */
@media (min-width: 577px) {
    .side-navbar a {
        transition: width 0.3s;
        width: 3rem;
    }
    .side-navbar:hover a{
        width: 11rem;
    }


    .side-navbar a:nth-last-child(1) {
        margin-top: auto;
    }

}

/* max */
@media (max-width: 576px) {

    .side-navbar {
        overflow: unset;
        padding-top: unset;
        height: unset;

        position: fixed;
        inset: auto 0 0 0;

        border-radius: 0.6rem 0.6rem 0  0;
        border-top: 1px solid var(--clr-primary-900);
        border-right: 1px solid var(--clr-clear-900);
        border-left: 1px solid var(--clr-clear-900);

        display: flex;
        flex-direction: row;
        padding: 0.25rem 10vw 0.25rem;
        justify-content: space-around;

    }

    .side-navbar a span:nth-child(2) {
        display: none;
    }
    .side-navbar a span svg {
        margin-right: 0rem;
    }
}