:root {
    /* initial colors */
    --primary_color: #ff4242;

    --secondary_color: #303F9F;
    --accent_color: #FF8066;

    --background_color: #FCF8FF;
    --text_color: #4B4453;

    color-scheme: light;
    background-color: var(--background_color);
    color: var(--text_color);
    /* <> */

}

/* top-navbar */
.top-navbar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    padding: 0.8rem 1rem;
    box-shadow: 1px 1px 5px var(--accent_color);
}


/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    gap: .25rem;
    transition: text-shadow 0.3s;
    font-weight: 500;
}
.logo a:hover {
    text-shadow: -1px -1px var(--text_color);
}

/* search container */
form.search-container {
    flex: 1;
    display: flex;
    justify-content: right;
}
.search-container input {
    all: unset;
    color: var(--accent_color);
    border: 1.5px solid var(--accent_color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;

    width: 15%;
    padding-right: 2rem;
    transition: width 0.3s;
}
.search-container input:focus {
    width: 50%;
}
.search-container button {
    border: unset;
    cursor: pointer;
    background-color: transparent;
    color: var(--accent_color);
    position: relative;
    left: -2rem;
    
}
.search-container button i {
    border-left: 1px solid var(--accent_color);
    padding: 0.2rem 0.5rem;

}