/* top-navbar */
.top-navbar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    padding: 0.8rem 1rem;
    box-shadow: 1px 1px 5px var(--accentColor);
}


/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    gap: .25rem;
    transition: text-shadow 0.3s;
    font-weight: 500;
}
.logo a:hover {
    text-shadow: -1px -1px var(--backgroundColor);
}

/* search container */
form.search-container {
    flex: 1;
    display: flex;
    justify-content: right;
}
.search-container input {
    all: unset;
    color: var(--backgroundColor);
    border: 1.5px solid var(--accentColor);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;

    width: 10%;
    padding-right: 2rem;
    transition: width 0.3s;
}
.search-container input:focus {
    width: 50%;
}
.search-container button {
    border: unset;
    cursor: pointer;
    background-color: transparent;
    color: var(--backgroundColor);
    position: relative;
    left: -2rem;
    
}
.search-container button i {
    border-left: 1px solid var(--accentColor);
    padding: 0.2rem 0.5rem;

}