

/* .page{
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-950);
    overflow-y: scroll;
    position: fixed;
    inset: 0 0 0 0;
} */

#main {
    min-height: 100%;
    padding-left: 3.5rem;
}
@media (max-width: 576px) {
    /* .page{
        inset: 0 0 3rem 0;
    } */
    #main {
        padding-left: 0rem;
        padding-bottom: 3rem;
    }
}

