header.navbar {
    z-index: 10;
    position: fixed;
    pointer-events: none;
    inset: 0;
    right: -1px; /* this is for right side gap */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.top-navbar,
.side-navbar {
    pointer-events: all;
    background-color: var(--background_color);

}