header.navbar {
    z-index: 10;
    position: fixed;
    pointer-events: none;
    inset: 0;
    right: -1px; /* this is for right side gap */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.top-navbar,
.side-navbar {
    pointer-events: all;
    background-color: var(--background_color);

}





/* old code */
@media (max-width: 68px) {

    /* theme-toggle */
    .theme-toggle {
        pointer-events: all;
        position: fixed;
        bottom: 8rem;
        right: 1rem;
    }

    /* navlinks */
    .navbar-inner {
        pointer-events: all;
        background-color: var(--background-color);
        color: var(--text-color);

        position: relative;
        height: calc(100dvh - 58px);
        width: 10rem;
        bottom: -58px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0.3rem 1rem;
    }

    /* menu toggle */

    /* Logo */
    .logo {
        display: flex;
        align-items: center;
    }

    .logo a {
        display: flex;
    }


    /* Nav Links */
    nav.nav-links {
        height: 100%;
        padding: 1rem 0;
        /* overflow-y: scroll; */
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .nav-links li a {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.3rem;
    }


    .menuToggle {
        font-size: 1.25rem;
        cursor: pointer;
        position: absolute;
        right: 0.2rem;
    }

    button {
        cursor: pointer;

        border: unset;

        color: var(--text-color);
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        padding: .2rem .1rem 0 .1rem;

    }


    /* top-navbar */
    .top-navbar {
        position: fixed;
        pointer-events: all;
        background-color: var(--background-color);
        display: flex;
        width: 100%;
        padding: .5rem;
    }

    @media (max-width: 768px) {
        .navbar-inner {
            position: fixed;
            height: unset;
            width: 100%;
            bottom: 0rem;
            flex-direction: row;
        }

        .nav-links ul {
            flex-direction: row;
            justify-content: space-between;

        }

        .nav-links ul li span {
            display: none;
        }
    }

}